# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Node
node_modules/
npm-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Env
.env
.env.local
